    <!-- Resume and Project Section named download -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Look at the Projects I have worked on</h2>
                    <a href="http://sagarkar10.github.io/ProjectList" class="btn btn-default btn-lg">Projects</a>
                    <p></p>
                    <h2>And Here Is my Resume</h2>
                    <a target="_blank" href="/cv/MyResume.pdf" class="btn btn-default btn-lg">View</a>
                </div>
            </div>
        </div>
    </section>
