    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src=/gravtar.jpg style="width:128px; height:128px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" />
                        <h1 class="brand-heading">Sagar Kar</h1>
                        <p class="intro-text">Dream Big, Code Small, Contribute Large. <br>Think twice, Code once.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
